@font-face {
    font-family: 'robotoregular';
    src: url('Roboto-Regular-webfont.eot');
    src: url('Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('Roboto-Regular-webfont.woff2') format('woff2'),
         url('Roboto-Regular-webfont.woff') format('woff'),
         url('Roboto-Regular-webfont.ttf') format('truetype'),
         url('Roboto-Regular-webfont.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

#main_wrapper
{
	display: flex;
	width: 1000px;
	margin: auto;
	font-family: 'robotoregular';
	font-size: 13px;
	line-height: 1em;
	text-align: justify;
}

#contenu_gauche
{
	background-color:#26A69A;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 250px;
}

#contenu_droite
{
	width: 750px;
	padding: 25px;
	display: flex;
	flex-direction: column;
	border : solid 2px blue; /* aide visuel pour placement */
}


#image

{
	overflow:hidden;
    border-radius:70px;
    width:120px;
    height:120px;
}

.titre_gauche
{
	background-color: #263238;
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #26A69A;
	text-transform: uppercase;
	font-size: 18px;
	font-weight: bold;
	line-height: 1.5em;
	
}

#icones
{
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: 85px;

}

#contact, #propos, #loisir, #portrait
{
	width: 250px;
}

#icones i
{
	font-size: 30px;
	border : solid 2px;
	border-radius: 80%;
	padding: 7px;	

}

#portrait
{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 200px;
}

#contact ul
{
	list-style-type: none;
}

#contact
{
	display: flex;
	flex-direction: column;
	
}

#contact li
{
	margin-bottom: 13px;
}

.titre_droite
{
	display: flex;
	align-items: baseline;
	justify-content: flex-start;
	text-transform: uppercase;
	border-bottom: 2px #26A69A solid;
	height: 40px;
	margin-bottom: 15px;
}

.titre_droite i
{
	font-size: 25px;
	color: #26A69A;
	padding-right: 15px;
}



#main_title h1
{
	text-transform: uppercase;
	font-size: 35px;
}

#main_title p
{
	font-size: 16px;
	font-weight: 300;

}

#nom_couleur
{
	color: #26A69A;
}

#bordure
{
	border-bottom: 2px solid #26A69A;
}


.info
{
	display: flex;
	flex-direction: column;
}

.dates
{
	width: 225px;
	display: flex;
	align-content: flex-start;
}

.info
{
	width: calc( 100% - 225px );
}

.info p
{
	margin: 5px 0px 5px 0px;
}

.info h3
{
	margin: 5px 0px 5px 0px;
	text-transform: uppercase;
}

.contenu
{
	display: flex;
	justify-content: flex-start;
}

